
<html class="no-js" lang="">
<head>
    <meta name="viewport" content="width=device-width" />
       <title>@ViewBag.Title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Logic - Free Html Multipurpose Business Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">

        <link rel="stylesheet" href="~/IndexAssests/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/IndexAssests/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/IndexAssests/css/magnific-popup.css">


        <!--For Plugins external css-->
        <link rel="stylesheet" href="~/IndexAssests/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="~/IndexAssests/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="~/IndexAssests/css/responsive.css" />

        <script src="~/IndexAssests/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="200"  >
      <div class='preloader'>
            <div class='loaded'>&nbsp;</div>
        </div>
            <div class="culmn">

      <header id="main_menu" class="header navbar-fixed-top" style="background: #22394C; ">            
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="nav navbar-left" href="#home">
                                                <img src="~/IndexAssests/images/Screenshot__610_-removebg-preview.png" width="150" height="65"/>
                                            </a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->

                                         @{
                                                 var card = ViewBag.cardNum;
                                                 var name = ViewBag.UserName;
                                                 var card2 = ViewBag.Card;

                                            }

                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a class="nav-link" asp-area="" asp-controller="Homef" asp-action="HomeUser">HOME</a></li>
                                                <li><a class="nav-link" asp-area="" asp-controller="Aboutus" asp-action="AboutUsUser">About Us</a></li>
                                                <li><a class="nav-link" asp-area="" asp-controller="Contactus" asp-action="ContactUsUser">Contact US</a></li>
                                                <li><a class="nav-link" asp-area="" asp-controller="Testmonials" asp-action="TestmonialUser">Testimonial</a></li>
                                               <li><a class="nav-link" asp-area="" asp-controller="Visas" asp-action="MyReservations">My Reservations</a></li>
                                                     <li >
                                                        <a class="ic" data-toggle="dropdown" role="button" >
                                                            <span class="dropdown-toggle" >Visa</span></a>  
                                                        <ul style="background-color:antiquewhite; " class="dropdown-menu">
                                                          
                                                             <li>
                                                              <a class="nav-link" asp-area="" asp-action="MyVisa"  asp-controller="Visas" >My Visa</a>
                                                            </li>
                                                           <li>
                                                              <a class="nav-link" asp-area="" asp-controller="Visas" asp-action="Visa">Create MyVisa</a>
                                                            </li>
                                                        </ul>
                                                    </li>

@*                                                <li><a class="nav-link" asp-area="" asp-controller="UserSigns" asp-action="Create">Sign Up</a></li>
*@@*                                                <li><a href="#contact">CONTACT</a></li>
*@
                                            
                                            
                                                        <li >
                                                        <a class="ic" data-toggle="dropdown" role="button" >
                                                            <span class="dropdown-toggle" ><img src="~/Assests/images/icons8-male-user-24.png" />@name</span></a>
                                                        <ul style="background-color:antiquewhite; " class="dropdown-menu">
                                                            <li>
                                                              <a class="nav-link" href="~/Logins/Details/@name" >My Profile</a>
                                                            </li>
                                                           <li>
                                                              <a class="nav-link" asp-area="" asp-controller="LoginAndRegistration" asp-action="LogOut">Sign Out</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                @*<li style="background-color:orange;">
                                                    <a href="#"  data-toggle="dropdown" role="button" >
                                                        <span class="dropdown-toggle" >Sign Up</span></a>
                                                    <ul style="background-color:antiquewhite; " class="dropdown-menu">
                                                        <li>
                                                          <a class="nav-link" asp-area="" asp-controller="LoginAndRegistration" asp-action="Register">Sign Up</a>
                                                        </li>
                                                       <li>
                                                          <a class="nav-link" asp-area="" asp-controller="LoginAndRegistration" asp-action="Login">Sign In</a>
                                                        </li>
                                                    </ul>
                                                </li>*@
                                            </ul>


                                        </div>

                                    </div>
                                </nav>
                            </div>	
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->
    <div>
        @RenderBody()
    </div>

    
            <section id="footer" class="footer_widget" 88>
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="main_widget">
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                <div class="footer_logo">
                                                   <img src="~/IndexAssests/images/Screenshot__610_-removebg-preview.png" width="150" />

                                                </div>
                                            <p>&copy;FirstProject By Raghad AL-Badareen All The Posts Reserved. </p>

                                            </div>
                                        </div>

                                        <div class="col-sm-3  col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                                <div class="footer_title">
                                                    <h4>SITEMAP</h4>
                                                    <div class="separator"></div>
                                                </div>
                                                <ul>
                                                    <li><a asp-action="HomeUser" asp-area="" asp-controller="Homef">Home</a></li>
                                                    <li><a asp-action="AboutUsUser" asp-area="" asp-controller="Aboutus">About Us</a></li>
                                                    <li><a asp-action="ContactUsUser" asp-area="" asp-controller="Contactus">Contact Us</a></li>
                                                    <li><a asp-action="Testimonial" asp-area="" asp-controller="Home">Testmonial</a></li>
                                                </ul> 
                                            </div>
                                        </div>

                                        <div class="col-sm-3  col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                                <div class="footer_title">
                                                    <h4>Find ME</h4>
                                                    <div class="separator"></div>
                                                </div>  
                                                <ul>
                                                <li>31901003077@std.bau.edu.jo</li>
                                                <li>+962799937769</li>
                                                    <li>Amman - Jordan</li>
                                                    <li>ST.Khalid</li>
                                                </ul> 
                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                                <div class="footer_title">
                                                    <h4>BookNow</h4>
                                                    <div class="separator"></div>
                                                </div>

                                                <div class="footer_subcribs_area">
                                                    <a style="color:white;" asp-area="" asp-controller="LoginAndRegistration" asp-action="Register">Sign up for our mailing list to get latest updates and offers.</a>
                                                   

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>

             <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="~/IndexAssests/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="~/IndexAssests/js/vendor/bootstrap.min.js"></script>

        <script src="~/IndexAssests/js/jquery.magnific-popup.js"></script>
        <script src="~/IndexAssests/js/jquery.mixitup.min.js"></script>
        <script src="~/IndexAssests/js/jquery.easing.1.3.js"></script>
        <script src="~/IndexAssests/js/jquery.masonry.min.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="http://maps.google.com/maps/api/js"></script>
        <script src="~/IndexAssests/js/gmaps.min.js"></script>


        <script>

                                            function showmap() {
                                                var mapOptions = {
                                                    zoom: 8,
                                                    scrollwheel: false,
                                                    center: new google.maps.LatLng(-34.397, 150.644),
                                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                                };
                                                var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
                                            }
        </script>

        <script src="~/IndexAssests/js/plugins.js"></script>
        <script src="~/IndexAssests/js/main.js"></script>

   
</body>
</html>
