@model IEnumerable<FirstProject.Models.Reservation>
@{
    
    Layout = "~/Views/Shared/_LayoutUserHF.cshtml";
    var user = ViewBag.UserName;

}
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<h2>Good chance, we are here for you</h2>
          <br /><br /><br /><br /><br /><br /><br /><br /><br />
