@{
    Layout = "~/Views/Shared/_LayoutUserHF.cshtml";
}
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h2>Dear customer, your account has been deducted and your room reservation will be answered as soon as possible, thank you </h2>