    @{
    Layout = "~/Views/Shared/_LayoutHF.cshtml";
    }
  
<section id="service" class="service">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_service_area">
                                <div class="main_service_content">
                                    <div class="service_tabe">
                                        <!-- Nav tabs -->
                                        <ul class="service_tabe_menu nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#webdesign" aria-controls="webdesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />WEB DESIGN</a></li>
                                            <li role="presentation"><a href="#appdesign" aria-controls="appdesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />APP DESIGN</a></li>
                                            <li role="presentation"><a href="#graphicdesign" aria-controls="graphicdesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />GRAPHIC DESIGN</a></li>
                                            <li role="presentation"><a href="#gamedesign" aria-controls="gamedesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />GAME DESIGN</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="webdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>WEB DESIGN One</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                                                                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                                                                    distribution of letters, as opposed to using 'Content here, content here', making it 
                                                                    look like readable English. Many desktop publishing packages and web page editors now use 
                                                                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                            @*<div class="col-sm-6">
                                                                <div class="single_tab_img">
                                                                    <img src="~/IndexAssests/images/stab1.png" alt="" />
                                                                </div>
                                                            </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="appdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>WEB DESIGN Two</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                                                                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                                                                    distribution of letters, as opposed to using 'Content here, content here', making it 
                                                                    look like readable English. Many desktop publishing packages and web page editors now use 
                                                                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="graphicdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>WEB DESIGN Three</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                                                                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                                                                    distribution of letters, as opposed to using 'Content here, content here', making it 
                                                                    look like readable English. Many desktop publishing packages and web page editors now use 
                                                                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="gamedesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>WEB DESIGN Four</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                                                                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                                                                    distribution of letters, as opposed to using 'Content here, content here', making it 
                                                                    look like readable English. Many desktop publishing packages and web page editors now use 
                                                                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                     
                                                        <!--                                                        <div id="pentagon"></div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
@*
                 <section id="about" class="about">
                <div class="container">
                    <div class="row">

                        <div class="main_about_area sections">
                            <div class="col-sm-12">

                                <div class="main_about_content">
                                    <div class="row">

                                        <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms">
                                            <div class="single_about_right_content">
                                                <div class="head_title">
                                                    <h3>ABOUT LOGIC</h3>
                                                    <div class="separator"></div>
                                                </div>

                                                <div class="single_about">
                                                    <div class="single_ab_icon">
                                                        <div class="ab_border_right"></div>
                                                        <i class="fa fa-coffee"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>RESPONSIVE DESIGN</h3>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                            Lorem Ipsum has been the industry's standard dummy text</p>
                                                    </div>
                                                </div>
                                                <div class="single_about">
                                                    <div class="single_ab_icon">

                                                        <i class="fa fa-paint-brush"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>EASY TO CUSTOMIZE</h3>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                            Lorem Ipsum has been the industry's standard dummy text</p>
                                                    </div>
                                                </div>
                                                <div class="single_about">
                                                    <div class="single_ab_icon">
                                                        <i class="fa fa-headphones"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>LIFE TIME SUPPORT</h3>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                            Lorem Ipsum has been the industry's standard dummy text</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="single_about_left_img margin-top-40 text-center wow fadeInLeft" data-wow-duration=".6s">
                                                <img src="~/IndexAssests/images/abright.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="about_skill_area">
                                            <div class="col-sm-6">
                                                <div class="about_tabe">
                                                    <!-- Nav tabs -->
                                                    <ul class="about_tabe_menu" role="tablist">
                                                        <li role="presentation" class="active"><a href="#mission" aria-controls="mission" role="tab" data-toggle="tab">OUR MISSION</a></li>
                                                        <li role="presentation"><a href="#goal" aria-controls="goal" role="tab" data-toggle="tab">OUR GOAL</a></li>
                                                        <li role="presentation"><a href="#achivements" aria-controls="achivements" role="tab" data-toggle="tab">ACHIVEMENTS</a></li>
                                                    </ul>

                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active" id="mission">
                                                            <div class="single_about_tab">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                                    when an unknown printer took a galley type a scrambled it to make a type specimen book. 
                                                                    It has survived not only five centuries,</p>

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <ul class="single_ab_mision">
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <ul class="single_ab_mision">
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="goal">
                                                            <div class="single_about_tab">
                                                                <p>222Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                                    when an unknown printer took a galley type a scrambled it to make a type specimen book. 
                                                                    It has survived not only five centuries,</p>

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <ul class="single_ab_mision">
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <ul class="single_ab_mision">
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="achivements">
                                                            <div class="single_about_tab">
                                                                <p>333Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                                    when an unknown printer took a galley type a scrambled it to make a type specimen book. 
                                                                    It has survived not only five centuries,</p>

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <ul class="single_ab_mision">
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <ul class="single_ab_mision">
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                            <li><i class="fa fa-check-square"></i> We just want to love our client</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="about_skill">
                                                    <div class="skillbar" data-percent="79%">
                                                        <div class="skillbar-title"><h3 class="blue">PHOTOSHOP</h3><span class="sm-text">79%</span></div>
                                                        <div class="skillbar-bar blue"></div>
                                                    </div>

                                                    <div class="skillbar" data-percent="90%">
                                                        <div class="skillbar-title"><h3 class="blue">HTML/CSS</h3><span class="sm-text">90%</span></div>
                                                        <div class="skillbar-bar blue"></div>
                                                    </div>

                                                    <div class="skillbar" data-percent="69%">
                                                        <div class="skillbar-title"><h3 class="blue">JAVASCRIPT</h3><span class="sm-text">69%</span></div>
                                                        <div class="skillbar-bar blue"></div>
                                                    </div>

                                                    <div class="skillbar" data-percent="92%">
                                                        <div class="skillbar-title"><h3 class="blue">WORDPRESS</h3><span class="sm-text">92%</span></div>
                                                        <div class="skillbar-bar blue"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
*@

                                                        
            <section id="choose" class="choose">
                <div class="container">
                    <div class="row">
                        <div class="main_choose sections">
                            <div class="col-sm-6">
                                <div class="head_title">
                                    <h3>WHY CHOOSE US</h3>
                                    <div class="separator"></div>
                                </div>
                                <div class="single_choose">
                                    <div class="single_choose_acording">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                            <i class="fa fa-picture-o"></i> GREAT DESIGN 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: auto;">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            <i class="fa fa-map-signs"></i> RESPONSIVE DESIGN 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fa fa-bullseye"></i> RATINA READY 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                                        culpa qui officia deserunt mollit anim id est laborum.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fa fa-umbrella"></i>FREE GOOGLE FONT 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                                        culpa qui officia deserunt mollit anim id est laborum.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fa fa-subway"></i>1170 PX GRID BASE 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive" aria-expanded="false">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                                        culpa qui officia deserunt mollit anim id est laborum.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           @* <div class="col-sm-6">
                                <div class="single_choose">
                                    <div class="single_choose_img">
                                        <img src="~/IndexAssests/images/choose.png" alt="">
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </section>